
<div class="jumbotron" id="burger">
  <h1>Eat Da Burger!</h1>
  

  <form class="burger-form">
    <h2>Add a Burger</h2>
    <div class="form-group">
      <label for="burgerAdd">Burger Name:</label>
      <input type="text" id="burgerAdd" name="burger_name">
      <br><br>
      <button type="submit">Add Burger!</button>
    </div>
  
  </form>

</div>

<h2>Burgers:</h2>
<ul>
  {{#each burgers}}
     {{#unless devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Devoured Burgers!</h2>
<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=false}}  	    
    {{/if}}
  {{/each}}
</ul>




