* {
   text-align: center; 
   margin: 0 auto;
}

body {
    background-color: #111213;
}

.form-group input {
    width: 70%;
    color: red;
}

#burger {
    background-image: url("../images/BurgerStack.jpg");
    background-size: contain;
    background-position: center;
    height: 500px;
    margin: 0 50px;
}

.container {
    background-color: hotpink;
}

.container .jumbotron {
    padding-top: 25px;
}

.container .jumbotron h1, .container h2, form {
    color: white;
    font-weight: bolder;
    text-shadow: 4px 4px 4px magenta;
}

.container .jumbotron h1 {
    font-size: 100px;
    background-color: hotpink;
    margin-top: 30px;
    opacity: .96;
}

.burger-form {
    background-color: hotpink;
    padding: 10px;
    margin-top: 60px;
    opacity: .96;
}

ul .jumbotron {
    width: 700px;
    height: 100px;
}

.jumbotron button, button {
    background-color: black;
    color: white;
    border-radius: 30px;
}

.jumbotron li {
    font-size: 30px;
    font-weight: bold;
}

.jumbotron li button {
    font-size: 15px;
}

/*      Media Queries     */
@media(max-width:992px){
    ul .jumbotron {
        width: 70%;
    }
   form h2 {
       margin-top: -5px;
   }
   form {
       margin-bottom: -5px;
   }
}

@media(max-width:680px){   
    ul .jumbotron {
        width: 400px;
    }
    .jumbotron li {
        font-size: 20px;
    }
}

@media(max-width:480px){
     .form-group input {
        width: 80%;
    }
    .container .jumbotron h1 {
        font-size: 30px;
    }
    ul .jumbotron {
        width: 250px;
    }
}